Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Mandragora 1 2
XXXXX
XIXXX
XICXX
XXIXX
XXXXX
Lobber 2 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Guardian 3 3
XXXXX
XIXIX
XICIX
XIXIX
XXXXX
Sentinel 2 2
XXIXX
XIXIX
XICIX
XIXIX
XXIXX
Cyclops 1 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Thorn 1 2
XIXXX
XIXXX
XICXX
XXIXX
XXXXX
Barrage 2 3
XXIXX
XIXIX
XICIX
XIXIX
XXIXX
Anchor 3 1
XXXXX
XXXXX
IICCI
XXXXX
XXXXX
Wisp 1 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Phantom 1 2
XIXXX
XXIXX
XICIX
XIXIX
XXXXX
Cannon 2 3
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Torch 1 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Brute 3 3
IXXXI
XIXXI
XICIX
IXXIX
IXXIX
